<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cheesteaks</title>
  <!-- <link rel="shortcut icon" href="favicon.ico"> -->
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>

  <div class="jumbotron text-center">
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
  </div>
  <h1>Buck- It!</h1>
  <!-- <h2> </h2> -->

  <h2>Sign in or Sign Up to start adding to your bucket list today!</h2>
<img src="sunset.jpg">
  <!-- <form action="/messages" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="location" name="location">
    <button type="submit">Submit</button>
  </form> -->

  <script src="main.js"></script>

</body>
</html>
